<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emildiaz.myandroidapplication" >

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ContactActivity"
            android:label="@string/title_activity_contact"
            android:parentActivityName=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/person" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.emildiaz.myandroidapplication.MainActivity" />
        </activity>
        <activity
            android:name=".CommentActivity"
            android:label="@string/title_activity_comment"
            android:parentActivityName=".ContactActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ContactActivity" />
        </activity>
        <activity
            android:name=".RouletteActivity"
            android:label="@string/title_activity_roulette"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.emildiaz.myandroidapplication.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>

        <provider
            android:name=".providers.CommentsContentProvider"
            android:authorities="com.emildiaz.myandroidapplication.providers"
            android:exported="true" >
        </provider>

        <activity
            android:name=".NotificationActivity"
            android:label="@string/title_activity_notification"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.emildiaz.myandroidapplication.MainActivity" />
        </activity>
    </application>

</manifest>
